{
	"extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"plugins": ["@typescript-eslint"],
	"root": true,
	"env": {
		"es6": true,
		"node": true
	},
	"rules": {
		"@typescript-eslint/no-unused-vars": "error",
		"camelcase": "error",
		"capitalized-comments": "off",
		"comma-dangle": "error",
		"eol-last": "error",
		"func-call-spacing": "error",
		"getter-return": "error",
		"indent": "off",
		"new-parens": "error",
		"no-alert": "error",
		"no-console": "error",
		"no-const-assign": "error",
		"no-debugger": "error",
		"no-delete-var": "error",
		"no-dupe-args": "error",
		"no-dupe-keys": "error",
		"no-duplicate-case": "error",
		"no-duplicate-imports": "error",
		"no-eq-null": "error",
		"no-eval": "error",
		"no-fallthrough": "error",
		"no-implied-eval": "error",
		"no-invalid-regexp": "error",
		"no-invalid-this": "error",
		"no-irregular-whitespace": "error",
		"no-lonely-if": "error",
		"no-multi-str": "error",
		"no-param-reassign": "error",
		"no-redeclare": "error",
		"no-self-assign": "error",
		"no-self-compare": "error",
		"no-trailing-spaces": "error",
		"no-unneeded-ternary": "error",
		"no-unreachable": "error",
		"no-unused-expressions": "error",
		"no-unused-vars": "off",
		"no-var": "error",
		"no-with": "error",
		"object-curly-newline": "error",
		"prefer-arrow-callback": "error",
		"prefer-const": "error",
		"prefer-promise-reject-errors": "error",
		"prefer-template": "error",
		"semi-spacing": "error",
		"strict": "error",
		"use-isnan": "error"
	}
}